.cadastro {
    text-align: center;
    height: 80vh;
    margin-top: 2em;
}

.cadastro__texto {
    color: var(--azul);
    line-height: 21px;
    margin: 1.0em 2em;
}

.contaiber-formulario{
    margin: 2em 0;
}

.contaiber-formulario__rotulo {
    color: var(--cinza);
    line-height: 24px;   
    padding: 0.5rem;
    display: block;
}

.container-formulario__campo {
    background: var(--cinza-claro-fundos);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border: none;
    
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    
    padding: 0.5em;
    width: 60%;
}

.container-formulario__campo::placeholder{
    color: var(--cinza-claro);
    font-size: 12px;
    text-align: center;
}

.botao {
    margin: 1em auto 1em; /* espaçamento entre os 'botoes'*/
    
    display: block;
    background-color: var(--coral);
    border-radius: 6px;
    border: none;
    padding: 1rem;
    width: 11.25rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    color: var(--branco);
    text-decoration: none; /* retinar o sublinhado*/
}

.botao:hover {

}