.cadastro {
    text-align: center;
    height: 80vh;
    margin-top: 2em;

    color: var(--cinza);
    font-family: var(--fonte-principal);
    font-style: normal;
}

.cadastro__texto {
    color: var(--azul);
    line-height: 21px;
    margin: 1.0em 2em;
    font-size: 16px;
}

.container-fomulario {
    margin: 2em 0;
}

.container-formulario__titulo {
    display: block;
    padding: 0.5rem;
}

.container-formulario__campo {
    background: var(--cinza-claro-fundos);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border: none;
    padding: 0.5em;
    width: 60%;
}

.container-formulario__campo::placeholder{
    color: var(--cinza-claro);
    font-size: 12px;
    text-align: center;
}

.formulario__botao {
    margin: 1em auto 1em; /* espaçamento entre os 'botoes'*/
    
    display: block;
    background-color: var(--coral);
    border-radius: 6px;
    border: none;
    padding: 1rem;
    width: 11.25rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    color: var(--branco);
    text-decoration: none; /* retinar o sublinhado*/
    
}

.formulario-botao:hover:hover {
    
}

@media screen and (min-width: 768px) {
    .cadastro__texto {
        margin: 1em 6em;
    }
}
